<!doctype html>
<html>
<head>
    <title>Best Test</title>
</head>
<body>
	<header><img src="/img/logo.png" alt="Best Test Logo"></header>
    {{{body}}}
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
</body>
</html>
